
body{
    background: linear-gradient( to bottom right, blue,green);
    font-family: ubuntu;
    
}

h1{
    color: #fff;
    font-size: 64px;
    letter-spacing: 2px;
    margin-top: 80px;
    text-align: center;
}

.content{
    background: #fff;
    max-width: 960px;
    margin: 30px auto;
    padding:  20px 30px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1)
}

ul{
    list-style-type: none;
    padding: 2px;
}

li{
    padding: 20px;
    background: #f6f6f6;
    font-size: 20px;
    color: #555;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    height: 70px;
}

li:nth-child(even){
    padding: 20px;
    background: #f2f2f2;
}

li span{
    display: block;
}

li div{
    position: absolute;
    top: 0;
    right: 0px;
    background: rgba(255,255,255,0.6);
    width: 40px;
    text-align: center;
    padding: 10px 0;
    font-weight:  bold;
    cursor:  pointer;
}
li div:hover{
    background-color: lightpink;
}
form select {
    float: left;
    width: 38%;
    margin: 0;
    border: 0;
    border-bottom: 1px solid #eee;
    margin: 0 1%;
    padding: 10px;
    display: block;
    box-sizing: border-box;
    font-size: 18px;
}
form select:focus{
    outline: none;
    border-bottom: 3px solid lightskyblue;
    padding-bottom: 8px;
    transition: all ease 0.2s;
}
form input {
    float: left;
    width: 38%;
    margin: 0;
    border: 0;
    border-bottom: 1px solid #eee;
    margin: 0 1%;
    padding: 10px;
    display: block;
    box-sizing: border-box;
    font-size: 18px;
}

form input:focus{
    outline: none;
    border-bottom: 3px solid lightskyblue;
    padding-bottom: 8px;
    transition: all ease 0.2s;
}

form:after{
    content: '';
    clear: both;
    display: block;
}
.btn{
    border: 0;
    background: #fff;
    border-radius: 10px;
    padding: 13px;
    width: 20%;
    box-shadow: -1px 0px 1px rgba(0,0,0,0.1);
    font-weight: bold;
    font-family: ubuntu;
    letter-spacing: 1px;
    color: #999;
    outline: none;
}
 .btn:hover{
    background-color:rgb(80, 253, 80);  
    color : white;
 }
 .float
    {
        position:relative;
        display: block;
        text-align: center;
        color: white;
        animation: animate 4s;
        padding-top: 30px;
      }
.float a{
    color: white;
}

@keyframes animate{
    0%{
    opacity: 0;
    transform: translateX(-40px);
    }
    
    60%{
    transform: translateX(40px); 
    }
    100%{
        transform: translate(0);
    }
}